Repository fsdevWebmaster/proyecto-final, pull requests merged in 2023-08, with the labels that each got.

#37 17 backend create an endpoint for login users
  README.md
  backend/.env
  backend/controllers/users.controller.js
  backend/database/config.js
  backend/models/user.model.js
  backend/server.js
Labels: BackEnd

#42 9 backend create a middleware for authentication
  backend/controllers/users.controller.js
  backend/middlewares/users.middleware.js
  backend/routes/app.routes.js
Labels: BackEnd, API

#43 38 backend create a model for journey
  backend/.env
  backend/models/container.model.js
  backend/models/driver.model.js
  backend/models/journey.model.js
  backend/models/journeyLog.model.js
  backend/models/reasonStatus.model.js
  backend/models/role.model.js
  backend/models/user.model.js
Labels: BackEnd

#50 Drivers endpoints
  backend/controllers/users.controller.js
  backend/routes/app.routes.js
Labels: documentation, BackEnd, API

#49 Refactor profile controller
  backend/controllers/users.controller.js
  backend/database/config.js
  backend/middlewares/users.middleware.js
  backend/models/journey.model.js
  backend/models/user.model.js
  backend/routes/app.routes.js
Labels: documentation, BackEnd, API

#53 - Journey router added.
  backend/controllers/journey.controller.js
  backend/models/container.model.js
  backend/routes/journey.routes.js
  backend/server.js
Labels: BackEnd

#58 46 backend create endpoint for new journey
  backend/controllers/journey.controller.js
  backend/middlewares/users.middleware.js
  backend/models/journey.model.js
  backend/routes/app.routes.js
Labels: documentation, BackEnd, API

#59 Journey log creation
  backend/controllers/journey.controller.js
  backend/models/journey.model.js
  backend/models/journeyLog.model.js
Labels: documentation, BackEnd, API

#61 Search container by number
  backend/controllers/container.controller.js
  backend/models/container.model.js
  backend/routes/container.routes.js
  backend/server.js
Labels: documentation, BackEnd, API

#66 List containers
  backend/controllers/container.controller.js
  backend/routes/container.routes.js
Labels: documentation, BackEnd, API

#62 List in transit journeys
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
Labels: documentation, BackEnd, API

#69 PF:FE-create-auth authenticate users
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.tsx
  frontend/src/components/Auth/Authorization.tsx
  frontend/src/components/LoginForm/LoginForm.tsx
  frontend/src/components/index.ts
  frontend/src/helpers/jwtHelper.ts
  frontend/src/helpers/languages/en.json
  frontend/src/hooks/useAuth.ts
  frontend/src/layouts/Main/Header/Userbox/index.tsx
  frontend/src/layouts/Main/Sidebar/SidebarTopSection/index.tsx
  frontend/src/main.tsx
  frontend/src/models/Role/Role.ts
  frontend/src/models/User/User.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/routes/routes.tsx
  frontend/src/services/api/loginApi.ts
  frontend/src/services/api/userApi.ts
  frontend/src/services/axiosClient.ts
  frontend/src/stores/LoginStore.ts
  frontend/src/stores/UserStore.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: FrontEnd

#70 Step model created.
  backend/models/journeyLog.model.js
  backend/models/reasonStatus.model.js
  backend/models/step.model.js
Labels: BackEnd, API

#71 48 backend create endpoint for new journey log
  backend/.env
  backend/controllers/container.controller.js
  backend/controllers/journey.controller.js
  backend/models/index.js
  backend/models/journey.model.js
  backend/models/journeyLog.model.js
  backend/models/reasonStatus.model.js
  backend/routes/journey.routes.js
Labels: documentation, BackEnd, API

#72 - List steps implemented.
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
Labels: documentation, BackEnd, API

#73 Backend sockets dev started
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/socket-server.js
  backend/utils/app.utils.js
Labels: documentation, BackEnd, API

#78 - Get journey log implemented.
  backend/controllers/journey.controller.js
  backend/models/journeyLog.model.js
  backend/routes/journey.routes.js
Labels: documentation, BackEnd, API

#79 Step journeys and update journey log.
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
Labels: documentation, BackEnd, API
