Repository fsdevWebmaster/proyecto-final, pull requests merged in 2023-10, with the labels that each got.

#144 137 frontend review scale functionality
  backend/controllers/journey.controller.js
  backend/controllers/search.controller.js
  backend/models/driver.model.js
  backend/models/journeyLog.model.js
  backend/models/step.model.js
  backend/routes/app.routes.js
  backend/routes/container.routes.js
  backend/routes/journey.routes.js
  frontend/src/components/App.tsx
  frontend/src/components/Auth/Authorization.tsx
  frontend/src/components/Search/SearchController.ts
  frontend/src/components/Search/SearchForm.tsx
  frontend/src/components/Search/useSearch.ts
  frontend/src/layouts/Main/Header/index.tsx
  frontend/src/layouts/Main/Sidebar/Sidebar.tsx
  frontend/src/main.tsx
  frontend/src/models/Step/Step.ts
  frontend/src/pages/Dashboard/Dashboard.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/pages/Yard/Yard.tsx
  frontend/src/routes/routes.tsx
  frontend/src/services/api/journeyApi.ts
  frontend/src/services/api/searchApi.ts
  frontend/src/services/api/stepApi.ts
  frontend/src/services/api/yardApi.ts
  frontend/src/stores/ConfigStore.ts
  frontend/src/stores/JourneyStore.ts
  frontend/src/stores/StepStore.ts
  frontend/src/stores/index.ts
  frontend/tsconfig.json
Labels: documentation, FrontEnd, BackEnd, API

#146 fix #114
  backend/routes/journey.routes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.tsx
  frontend/src/components/ProgressBar/ProgressBar.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/pages/JourneyLog/JourneyLog.tsx
  frontend/src/pages/JourneyLog/customStyles.ts
  frontend/src/pages/Users/Users.tsx
  frontend/src/routes/routes.tsx
  frontend/src/styles/theme/ThemeProvider.tsx
  frontend/src/types/common.ts
Labels: FrontEnd

#147 142 frontend backend implement backend in check page
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/Dashboard/Dashboard.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/routes/routes.tsx
  frontend/src/services/api/journeyApi.ts
  frontend/src/services/api/stepApi.ts
  frontend/src/stores/JourneyStore.ts
  frontend/src/stores/StepStore.ts
Labels: documentation, FrontEnd, BackEnd, API

#149 - Mock data bugs fixed.
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/Dashboard/Dashboard.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/services/api/journeyApi.ts
  frontend/src/stores/StepStore.ts
Labels: FrontEnd, BackEnd

#163 #135
  backend/routes/app.routes.js
  frontend/src/components/App.tsx
  frontend/src/components/Auth/Authorization.tsx
  frontend/src/components/Auth/RoleAuth.tsx
  frontend/src/components/Cards/CardManager.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/LoginForm/LoginForm.tsx
  frontend/src/helpers/pageHelper.ts
  frontend/src/layouts/Main/Header/Userbox/index.tsx
  frontend/src/layouts/Main/MainLayout.tsx
  frontend/src/models/Role/Role.ts
  frontend/src/pages/Dashboard/Dashboard.tsx
  frontend/src/pages/Status/Status500.tsx
  frontend/src/routes/routes.tsx
  frontend/src/stores/ConfigStore.ts
  frontend/src/types/common.ts
Labels: FrontEnd

#164 - Journey by driver doc id endpoint implemented
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
Labels: documentation, BackEnd, API

#165 154 backend create endpoint to find journey and its logs by journey
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
Labels: documentation, BackEnd, API

#167 - Yard page connected to backend.
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
  frontend/src/models/Step/StepJourney.ts
  frontend/src/pages/Yard/Yard.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#168 - Containers functionality implemented.
  backend/models/container.model.js
  frontend/src/components/ContainerRegistrationForm/ContainerRegistrationForm.tsx
  frontend/src/models/Container/Container.ts
  frontend/src/pages/Container/ContainerRegistration.tsx
  frontend/src/pages/Container/Containers.tsx
  frontend/src/services/api/containerApi.ts
Labels: documentation, FrontEnd, BackEnd, API

#170 161 frontend set success and error messages
  backend/models/journey.model.js
  frontend/src/components/CreateUserForm/CreateUserForm.tsx
  frontend/src/components/CreateUserForm/RolesSelector.tsx
  frontend/src/components/Search/useSearch.ts
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/CreateUser/CreateUser.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/pages/Yard/Yard.tsx
  frontend/src/types/common.ts
  frontend/vite.config.ts.timestamp-1698671965445-ffa87b0e7bff8.mjs
Labels: FrontEnd
