Repository fsdevWebmaster/proyecto-final, pull requests merged in 2023-09, with the labels that each got.

#83 - Refactor creating and updating journeys and journey logs.
  backend/controllers/journey.controller.js
  backend/models/journey.model.js
  backend/models/journeyLog.model.js
  backend/models/step.model.js
  backend/routes/journey.routes.js
Labels: documentation, BackEnd, API

#96 55 backend create endpoint for search journey by container
  backend/controllers/journey.controller.js
  backend/routes/app.routes.js
  backend/routes/journey.routes.js
Labels: BackEnd

#99 backend endpoints, controlers and routes refactor
  backend/controllers/container.controller.js
  backend/controllers/driver.controler.js
  backend/controllers/journey.controller.js
  backend/controllers/users.controller.js
  backend/routes/app.routes.js
  backend/routes/container.routes.js
  backend/routes/journey.routes.js
Labels: BackEnd

#98 80 backend implement error handling
  backend/controllers/container.controller.js
  backend/controllers/journey.controller.js
  backend/controllers/users.controller.js
  backend/models/journeyLog.model.js
  backend/models/reasonStatus.model.js
  backend/models/role.model.js
  backend/models/user.model.js
  backend/server.js
Labels: documentation, BackEnd, API

#103 Fix #88
  frontend/src/components/Dialog/CreateUser.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/utils/wait.ts
Labels: FrontEnd

#110 89 frontend create page for gate
  frontend/src/components/GoalForm/GoalForm.tsx
  frontend/src/components/Search/SearchController.ts
  frontend/src/components/Search/SearchForm.tsx
  frontend/src/components/Search/useSearch.ts
  frontend/src/models/Container/Container.ts
  frontend/src/models/Driver/Driver.ts
  frontend/src/models/index.ts
  frontend/src/pages/Admin/AdminDashboard.tsx
  frontend/src/pages/Doc/Documentation.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/Gate/GoalDashboard.tsx
  frontend/src/pages/Goal/Goal.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#108 Driver page implemented. - Models dev. Fixes #107
  frontend/src/components/Timeline/LogItem.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/models/Journey/Journey.ts
  frontend/src/models/Journey/Log.ts
  frontend/src/models/Step/Step.ts
  frontend/src/pages/Driver/DriverDashboard.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#105 Journey by driver endpoint implemented. Fixes #104
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
  backend/server.js
Labels: documentation, BackEnd, API

#100 update container endpoint created
  backend/controllers/container.controller.js
  backend/routes/container.routes.js
Labels: BackEnd

#122 111 frontend create admin dashboard page
  frontend/src/components/Tables/TableAction.tsx
  frontend/src/pages/Admin/AdminDashboard.tsx
Labels: FrontEnd

#120 Submit button added. Fixes #106
  frontend/src/components/ContainerRegistrationForm/ContainerRegistrationForm.tsx
Labels: FrontEnd

#124 Creation of journey list for steps - [FRONTEND] - Create Adm Dashboard jouney list for steps#113
  frontend/src/models/index.ts
  frontend/src/pages/Admin/AdminJourneysDashboard.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#123 model updated
  backend/models/journey.model.js
Labels: BackEnd

#121 - Yard page implemented.
  backend/controllers/journey.controller.js
  frontend/src/components/Tables/TableAction.tsx
  frontend/src/pages/Yard/Yard.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#126 - Scale page implemented.
  frontend/src/components/Search/SearchForm.tsx
  frontend/src/components/Tables/TableAction.tsx
  frontend/src/models/Step/Step.ts
  frontend/src/pages/Driver/DriverDashboard.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#127 115 frontend complete container and drivers registry
  frontend/src/components/DriverRegistrationForm/DriverRegistrationForm.tsx
  frontend/src/pages/Driver/DriverRegistration.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#129 119 forntend create page for step 4 check 1
  frontend/src/pages/Check/Check.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#131 - Exit page implemented.
  backend/controllers/journey.controller.js
  frontend/src/pages/Exit/Exit.tsx
  frontend/src/pages/Yard/Yard.tsx
  frontend/src/routes/routes.tsx
Labels: FrontEnd

#138 Fix bug #81
  backend/controllers/users.controller.js
  backend/middlewares/users.middleware.js
  backend/models/user.model.js
  backend/package-lock.json
  backend/package.json
  backend/routes/app.routes.js
  backend/routes/container.routes.js
  backend/routes/journey.routes.js
  backend/server.js
  backend/utils/app.utils.js
  frontend/src/components/App.tsx
  frontend/src/components/Auth/Authorization.tsx
  frontend/src/components/LoginForm/LoginForm.tsx
  frontend/src/layouts/Main/Header/Userbox/index.tsx
  frontend/src/layouts/Main/Header/index.tsx
  frontend/src/layouts/Main/Sidebar/SidebarMenu/items.ts
  frontend/src/layouts/Main/Sidebar/SidebarTopSection/index.tsx
  frontend/src/models/User/User.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/routes/routes.tsx
  frontend/src/services/api/loginApi.ts
  frontend/src/services/api/stationApi.ts
  frontend/src/stores/LoginStore.ts
  frontend/src/stores/UserStore.ts
  frontend/tsconfig.json
Labels: FrontEnd
