Repository fsdevWebmaster/proyecto-final, pull requests merged in 2023-11, with the labels that each got.

#172 - Exit step implemented.
  backend/controllers/journey.controller.js
  backend/routes/journey.routes.js
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/Exit/Exit.tsx
  frontend/src/services/api/journeyApi.ts
  frontend/src/types/common.ts
Labels: documentation, FrontEnd, BackEnd, API

#179 Adding custom dialogs #176
  frontend/src/common/interfaces/interfaces.ts
  frontend/src/components/App.tsx
  frontend/src/components/ContainerRegistrationForm/ContainerRegistrationForm.tsx
  frontend/src/components/Dialog/CustomDialog.tsx
  frontend/src/components/DriverRegistrationForm/DriverRegistrationForm.tsx
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/Container/ContainerRegistration.tsx
  frontend/src/pages/Driver/DriverRegistration.tsx
  frontend/src/pages/Exit/Exit.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/pages/Yard/Yard.tsx
Labels: FrontEnd

#181 178 frontend set screen change buttons
  backend/routes/journey.routes.js
  frontend/src/components/DriverRegistrationForm/DriverRegistrationForm.tsx
  frontend/src/components/Search/SearchForm.tsx
  frontend/src/components/Search/useSearch.ts
  frontend/src/layouts/Page/PageLayout.tsx
  frontend/src/pages/Admin/AdminDashboard.tsx
  frontend/src/pages/Admin/AdminJourneysDashboard.tsx
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/Exit/Exit.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/JourneyLog/JourneyLog.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/pages/Yard/Yard.tsx
  frontend/src/pages/journey/journeyStatus.tsx
  frontend/src/routes/routes.tsx
  frontend/src/services/api/journeyApi.ts
  frontend/src/types/common.ts
Labels: FrontEnd

#182 hotfix - handling steps from store
  frontend/src/layouts/Main/MainLayout.tsx
  frontend/src/pages/Gate/Gate.tsx
Labels: FrontEnd

#184 Changes for cards in main page
  frontend/public/static/images/illustrations/check-one-svgrepo-com.svg
  frontend/public/static/images/illustrations/check-two-svgrepo-com.svg
  frontend/public/static/images/illustrations/container-svgrepo-com.svg
  frontend/public/static/images/illustrations/driver-card-svgrepo-com.svg
  frontend/public/static/images/illustrations/exit-svgrepo-com.svg
  frontend/public/static/images/illustrations/gate-svgrepo-com.svg
  frontend/public/static/images/illustrations/handshake.svg
  frontend/public/static/images/illustrations/journey-svgrepo-com.svg
  frontend/public/static/images/illustrations/onHold-svgrepo-com.svg
  frontend/public/static/images/illustrations/scale-one-svgrepo-com.svg
  frontend/public/static/images/illustrations/scale-two-svgrepo-com.svg
  frontend/public/static/images/illustrations/users-user-svgrepo-com.svg
  frontend/src/pages/Admin/AdminDashboard.tsx
  frontend/src/pages/JourneyLog/JourneyLog.tsx
  frontend/src/types/common.ts
Labels: FrontEnd

#185 #174
  backend/controllers/container.controller.js
  backend/controllers/journey.controller.js
  backend/routes/container.routes.js
  backend/routes/journey.routes.js
  backend/socket/journeyWS.js
  backend/socket/socketEvents.js
  frontend/src/layouts/Main/Sidebar/Sidebar.tsx
  frontend/src/layouts/Main/Sidebar/SidebarFooter/index.tsx
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/Driver/DriverDashboard.tsx
  frontend/src/pages/Exit/Exit.tsx
  frontend/src/pages/JourneyLog/InfoStep.tsx
  frontend/src/pages/JourneyLog/JourneyLog.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/pages/Yard/Yard.tsx
  frontend/src/routes/routes.tsx
  frontend/src/services/api/containerApi.ts
  frontend/src/services/api/journeyApi.ts
  frontend/src/stores/JourneyStore.ts
Labels: FrontEnd

#183 Hotfix open api revision
  backend/controllers/container.controller.js
  backend/controllers/driver.controller.js
  backend/controllers/gate.controller.js
  backend/controllers/journey.controller.js
  backend/controllers/search.controller.js
  backend/routes/app.routes.js
  backend/routes/journey.routes.js
  backend/server.js
  frontend/src/components/Search/SearchForm.tsx
  frontend/src/components/Search/useSearch.ts
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/Scale/Scale.tsx
Labels: FrontEnd, BackEnd

#187 Deploy fixes
  backend/.env
  backend/database/config.js
  frontend/src/components/App.tsx
  frontend/src/components/CreateUserForm/CreateUserForm.tsx
  frontend/src/components/DriverForm/DriverForm.tsx
  frontend/src/components/DriverForm/DriverRegistrationForm.tsx
  frontend/src/components/LoginForm/RecoverPass.tsx
  frontend/src/components/ProfileForm/ProfileForm.tsx
  frontend/src/components/Search/SearchController.ts
  frontend/src/components/adminForm/AdminContainerForm.tsx
  frontend/src/components/adminForm/AdminDashboardForm.tsx
  frontend/src/components/journeyForm/journeyStatusForm.tsx
  frontend/src/layouts/Main/Sidebar/SidebarTopSection/index.tsx
  frontend/src/models/Journey/Log.ts
  frontend/src/models/Role/Role.ts
  frontend/src/models/User/User.ts
  frontend/src/pages/Admin/AdminContainer.tsx
  frontend/src/pages/Doc/Documentation.tsx
  frontend/src/pages/Driver/DriverDashboard.tsx
  frontend/src/pages/Exit/Exit.tsx
  frontend/src/pages/JourneyLog/JourneyLog.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/pages/Yard/Yard.tsx
  frontend/src/stores/UserStore.ts
Labels: FrontEnd

#188 Testing prod connection
  frontend/src/services/axiosClient.ts
  frontend/vite.config.ts
Labels: FrontEnd

#190 fixes dev.
  backend/middlewares/users.middleware.js
Labels: BackEnd, API

#191 Ultimos ajustes en el form del driver
  frontend/src/common/interfaces/interfaces.ts
  frontend/src/components/DriverRegistrationForm/DriverRegistrationForm.tsx
  frontend/src/models/Driver/Driver.ts
  frontend/src/pages/Driver/DriverRegistration.tsx
  frontend/src/services/api/driverApi.ts
Labels: FrontEnd

#192 Backend log
  backend/controllers/users.controller.js
  backend/database/config.js
  backend/middlewares/test.middleware.js
  backend/middlewares/users.middleware.js
  backend/routes/app.routes.js
  frontend/src/components/ContainerRegistrationForm/ContainerRegistrationForm.tsx
  frontend/src/components/DriverRegistrationForm/DriverRegistrationForm.tsx
  frontend/src/components/Search/SearchController.ts
  frontend/src/layouts/Main/Sidebar/SidebarMenu/items.ts
  frontend/src/pages/Admin/AdminDashboard.tsx
  frontend/src/pages/Container/ContainerRegistration.tsx
Labels: FrontEnd

#194 Sidebar fix
  backend/server.js
  frontend/src/layouts/Main/Sidebar/SidebarMenu/index.tsx
  frontend/src/pages/Admin/AdminJourneysDashboard.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/pages/Yard/Yard.tsx
Labels: BackEnd

#195 Cambios de idioma y modal para el error en login
  backend/server.js
  frontend/src/components/LoginForm/LoginForm.tsx
  frontend/src/pages/Admin/AdminJourneysDashboard.tsx
  frontend/src/pages/Check/Check.tsx
  frontend/src/pages/Container/ContainerRegistration.tsx
  frontend/src/pages/Container/Containers.tsx
  frontend/src/pages/Driver/DriverRegistration.tsx
  frontend/src/pages/Exit/Exit.tsx
  frontend/src/pages/Gate/Gate.tsx
  frontend/src/pages/JourneyLog/JourneyLog.tsx
  frontend/src/pages/Scale/Scale.tsx
  frontend/src/pages/Yard/Yard.tsx
Labels: FrontEnd

#196 applying feedback
  backend/controllers/driver.controller.js
  backend/controllers/users.controller.js
  backend/middlewares/users.middleware.js
  backend/routes/app.routes.js
  backend/routes/journey.routes.js
  backend/server.js
  frontend/src/helpers/journeyHelper.ts
  frontend/src/models/Journey/Log.ts
  frontend/src/pages/Driver/DriverDashboard.tsx
  frontend/src/pages/JourneyLog/InfoStep.tsx
  frontend/src/pages/JourneyLog/JourneyLog.tsx
Labels: FrontEnd

#197 fix: Build frontend
  frontend/src/components/Timeline/LogItem.tsx
Labels: FrontEnd
